
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>View</title>
</head>
<body>
    <div> 
         <h1> Here we displayed the Tenant Id which is useful for data isolation @ViewData["Tenant"] </h1>
         <h1> Here we displayed the Current Logged User which is useful for entities in relation with user @ViewData["Logged_User"] </h1>
        <h1> Here we displayed the Current Logged User Role is @ViewData["UserRole"] </h1>
    </div>
</body>
</html>
